@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.form-control::placeholder{
  color: white;
  opacity: 1;
}
.navbar{
  position: fixed;
  color: white;
  width: 100%;
   padding-left: 2%;
  padding-right: 2%;
 
  z-index: 1000;
  background-color: #0f0f0f !important;
}
.nav-link{
  color: white;
}

body{
  background-color: #0f0f0f;
  font-family:  "Montserrat", sans-serif;
}

.pagescontainer{
  max-width: 100%;
  padding-top:5%;
  background-color: #0f0f0f;
  padding-left: 2%;
  padding-right: 2%;
}
.pagescontainer2{
  padding-top: 90px;
   padding-left: 2%;
   padding-right: 2%;
  background-color: #0f0f0f;
}

.heading2{
  padding-left: 10px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}
.heading1{
  color: white;
  margin-bottom: 20px;
}




.swiper-wrapper {
  display: flex !important;
  overflow: visible !important;
}

.thumbnailcard {
  width: 100%;             /* Ensure it scales with the slide */
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.blackcover{
  width: 20% ;
  background-color: black;
  z-index: 1;
   background: linear-gradient(to right, black, transparent);
    pointer-events: none;
}

.swiper-slide-card {

  max-width: 100%;         /* Prevent oversized cards */
  height: 70vh;
  display: flex;
  justify-content: center; /* Center the image */
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.blureffect{
  height: 100%;
  width: 50px;
  position: absolute;
   left: 20%;
  top: 0;
     pointer-events: none;
   backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
}

.swiper-pagination-bullet {
  background-color: gray !important;
  opacity: 0.6;    
 height: 12px !important;
 width: 12px !important;

}


.swiper-pagination-bullet-active {
  background-color: white !important;; 
  opacity: 1;           
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;     
  height: 10px !important;  
   font-size: 20px !important;  
     transition: transform 0.3s ease;             
       
}

/* Adjust the arrow size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important; 
   transform: scale(1.3);            
  color: white;             
}

/* Popular */

.popular{
  height: 70vh;
  max-width: 100%;
  margin-bottom: 7%;

}

.swiper-slide-card2{
   margin: 0 auto;
  width: 95%;
  height: 70vh; 
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: row;
  color: white;
  transition: transform 0.5s ease-in-out, border-color 0.5s ;
  overflow: visible !important;
  margin-top: 15px;
 cursor: pointer;
}

.swiper-slide-card2:hover{
transform: translateY(-15px);
border-color: crimson;
border-radius: 3px;

}









.movieimage{
  height: 80%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.navbar{
  padding-right: 0px;
}

.card{
  background-color: transparent;
  
  
} 





























































































































































@media screen and (max-width: 768px) {
 
  .popular{
  height: 50vh;
  max-width: 100%;
  margin-bottom: 7%;
  overflow: visible;

}

.navbar{
  padding-left: 0px;
}

  .swiper-slide-card{
    height: 30vh;
  }

    .swiper-slide-card2{
      height: auto;
    }

    .pagescontainer{
      padding-top: 12%;
     max-width: 100vw;
    
    }

  


}