@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.form-control::placeholder{
  color: white;
  opacity: 1;
}
.navbar{
  position: fixed;
  color: white;
  width: 100%;
   padding-left: 2%;
  padding-right: 2%;
 
  z-index: 1000;
  background-color: #0f0f0f !important;
}
.nav-link{
  color: white;
}


body{
  background-color: #0f0f0f;
  font-family:  "Montserrat", sans-serif;
}

.pagescontainer{
  max-width: 100%;
  padding-top:5%;
  background-color: #0f0f0f;
  padding-left: 3%;
  padding-right: 2%;
}
.pagescontainer2{
  padding-top: 90px;
   padding-left: 2%;
   padding-right: 2%;
  background-color: #0f0f0f;
}

.heading2{
  padding-left: 10px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}
.heading1{
  color: white;
  margin-bottom: 20px;
}




.swiper-wrapper {
  display: flex !important;
  overflow: visible !important;
}

.gradient-overlay{
    position: absolute;
  top: -10px;
  bottom: -9px;
  left: 0;
  width: 24%  ;
  background-image: url('/public/Black_colour.jpg'); /* same as the main image */
  background-position: left;
  filter: blur(7px);
  z-index: 2;
border-radius: 10px;
}

.avh{
  z-index: 5;
}



.thumbnailcard {
  padding: 0;
  position: relative;
  right: 0;
  z-index: 1;
   width: 100%;           
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
  pointer-events: none;
}

.logo{
  z-index: 4;
  background-color: transparent;
  color: white;
  transform: scale(0.9);
}

.logocontainer{
position: absolute;
  left: 5%;
  top: 30%;
  width: 30%;
  display: flex;
 flex-direction: column;
 gap: 3rem;
}




.bnm{
  width: 30%;
 display: flex;
 top: 0;
 z-index: 3;
}

.morebtn{
  background-color: white;
  color: black;
}

.swiper-slide-card {
  margin: 0 auto;
  width: 97%;        
  height: 70vh;
  display: flex;
  border-radius: 20px;
  position: relative;
  touch-action: pan-y;

}


.swiper-pagination-bullet {
  background-color: gray !important;
  opacity: 0.6;    
 height: 12px !important;
 width: 12px !important;

}


.swiper-pagination-bullet-active {
  background-color: white !important;; 
  opacity: 1;           
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;     
  height: 10px !important;  
   font-size: 20px !important;  
     transition: transform 0.3s ease;             
       
}

/* Adjust the arrow size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important; 
   transform: scale(1.3);            
  color: white;             
}

/* Popular */

.popular{
  height: 70vh;
  max-width: 100%;
  margin-bottom: 7%;

}

.swiper-slide-card2{
   margin: 0 auto;
  width: 95%;
  height: 70vh; 
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: row;
  color: white;
  transition: transform 0.5s ease-in-out, border-color 0.5s ;
  overflow: visible !important;
  margin-top: 15px;
 cursor: pointer;
}

.swiper-slide-card2:hover{
transform: translateY(-15px);

border-radius: 3px;

}









.movieimage{
  height: 80%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.navbar{
  padding-right: 0px;
}

.card{
  background-color: transparent;
} 

.occupy{
 height: 10vh;
  width: 100vw;
}

.dettop:after{
  height: 100%;
  max-width: 100vw;
  position: relative;
   
  
}

.dettop:after{
  --bottom-gradient:linear-gradient(0deg, var(--bg-color) 0%, transparent 33.42%);
} 

.detailthumbnail{
  height: 90vh;
  width: 100vw;
 object-fit:cover;
 opacity: 0.2;

}

.impdetail{
  position: absolute;
  bottom: 17%;
  left: 3%;
  color: white;
  display: flex;
  flex-direction: column;
  width: 50vw;
  
}

.detailmoviename{
  margin-bottom: 1.7rem;
  font-weight: 700;
}

.comments{
  color: rgb(199, 194, 194);
  font-style: italic;
  margin-bottom: 10px;
}

.detailabout{
   font-size: 1.1rem;
   margin-bottom: 1rem;
}

.genres{
  display: flex;
  gap:15px;
  margin-bottom:1rem;
}

.referlinks{
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;

}

.refer{
 font-size: 1.1rem;
   color: rgb(195, 189, 189);
}

.playlinks{ 
  display: flex;
  gap: 1rem;
}


.playlogo{
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}
.avw{
  color: white;
}

.castlist{
  margin-top: 40px;
  padding: 20px ;
  width: 100vw;
  padding-left: 3%;

}


.castcards{
  overflow: hidden;
  height: 40vh !important;
  color: white;
}

.cast-image{
  height: 80% !important;
  object-fit: cover;
  pointer-events: none;
  margin-bottom: 10px;
}

.similar{
  margin-top: 5%;
  padding-left: 3%;
  margin-bottom: 20px;
}

.con{
    transition: transform 0.5s ease-in-out, border-color 0.5s ;
  overflow: visible !important;
  margin-top: 15px;
  cursor: pointer;

}

.con:hover{
  transform: translateY(-15px);
}

.loading-line {
  height: 4px;
  background: linear-gradient(90deg, #333, #555, #333);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
  margin-bottom: 5px;
  width: 100%;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.image-wrapper {
  min-height: 300px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.movieimage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}
































































































































































@media screen and (max-width: 768px) {
 
  .popular{
  height: 50vh;
  max-width: 100%;
  margin-bottom: 7%;
  overflow: visible;

}

.navbar{
  padding-left: 0px;
}

  .swiper-slide-card{
    height: 30vh;
  }

    .swiper-slide-card2{
      height: auto;
    }

    .pagescontainer{
      padding-top: 12%;
     max-width: 100vw;
    
    }

  


}